In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data2.csv')
df.head()

   time  Target_group  Control_Group  Full_product
0     1             2              1            13
1     2             3              1            14
2     3             1              3            16
3     4             7              4            12
4     5             8              8             7

In [7]:
df['Full_product'] = df.apply(lambda row: row['Target_group'] + row['Control_Group'], axis=1)

In [8]:
df.head()

   time  Target_group  Control_Group  Full_product
0     1             2              1             3
1     2             3              1             4
2     3             1              3             4
3     4             7              4            11
4     5             8              8            16

In [9]:
df.to_csv('data3.csv', index=False)

In [11]:
df['Full_product'].sum()

245

In [12]:
df['Target_group'].sum()

169