In [2]:
import pandas as pd

In [54]:
df = pd.read_csv('data2.csv')
df.head()

   time  Target_group  Control_Group  Full_product
0     1             2              1            13
1     2             3              1            14
2     3             1              3            16
3     4             7              4            12
4     5             8              8             7

In [7]:
df['Full_product'] = df.apply(lambda row: row['Target_group'] + row['Control_Group'], axis=1)

In [8]:
df.head()

   time  Target_group  Control_Group  Full_product
0     1             2              1             3
1     2             3              1             4
2     3             1              3             4
3     4             7              4            11
4     5             8              8            16

In [9]:
df.to_csv('data3.csv', index=False)

In [11]:
df['Full_product'].sum()

245

In [12]:
df['Target_group'].sum()

169

In [1]:
import numpy as np

In [55]:
df['time'].tolist()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [56]:
df_second = pd.DataFrame(df['time'])

In [27]:
df_second.columns = ['time']

In [57]:
df_second.tail()

    time
8      9
9     10
10    11
11    12
12    13

In [58]:
us = np.random.uniform(1,5,13)

In [59]:
df_second.shape

(13, 1)

In [61]:
# us2 = [round(x) for x in us]
# us2.sort()
# us2

In [60]:
us2 = [round(x) for x in us]
us2

[5, 2, 2, 4, 4, 4, 1, 2, 2, 3, 5, 2, 4]

In [62]:
df_second['Target_group'] = us2

In [64]:
df_second.tail()

    time  Target_group
8      9             2
9     10             3
10    11             5
11    12             2
12    13             4

In [65]:
us = np.random.uniform(1,5,13)
us3 = [round(x) for x in us]
us3

[4, 2, 3, 2, 4, 5, 3, 2, 2, 2, 2, 4, 2]

In [66]:
df_second['Control_Group'] = us3
df_second.head()

   time  Target_group  Control_Group
0     1             5              4
1     2             2              2
2     3             2              3
3     4             4              2
4     5             4              4

In [67]:
df_second['Full_product'] = df_second.apply(lambda row: row['Target_group'] + row['Control_Group'], axis=1)
df_second.tail()

    time  Target_group  Control_Group  Full_product
8      9             2              2             4
9     10             3              2             5
10    11             5              2             7
11    12             2              4             6
12    13             4              2             6

In [68]:
df_second.to_csv('data_com2.csv', index=False)

In [69]:
df_second['Target_group'].sum()

40

In [71]:
df_third = pd.DataFrame(df['time'])
us = np.random.uniform(1,5,13)
us2 = [round(x)+i for i, x in enumerate(us)]
us2
df_third['Target_group'] = us2
us = np.random.uniform(1,5,13)

us3 = [round(x)+i for i, x in enumerate(us)]
df_third['Control_Group'] = us3
df_third.head()

   time  Target_group  Control_Group
0     1             1              1
1     2             3              4
2     3             6              5
3     4             6              8
4     5             6              6

In [72]:
df_third['Full_product'] = df_third.apply(lambda row: row['Target_group'] + row['Control_Group'], axis=1)
df_third.tail()

    time  Target_group  Control_Group  Full_product
8      9            10             11            21
9     10            13             14            27
10    11            15             11            26
11    12            12             12            24
12    13            14             13            27

In [73]:
df_third.head()

   time  Target_group  Control_Group  Full_product
0     1             1              1             2
1     2             3              4             7
2     3             6              5            11
3     4             6              8            14
4     5             6              6            12

In [74]:
df_third.to_csv('data_com3.csv', index=False)

In [76]:
df_third['Target_group'].sum()

113